<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>

    <title>Sender</title>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/senderDetails}" th:object="${senderDetails}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="firstName" class="col-form-label">First Name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName" class="col-form-label">Last Name</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="First Name">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="emailAddress" class="col-form-label">Email</label>
                        <input type="text" th:field="*{emailAddress}" class="form-control" id="emailAddress" placeholder="Email">
                        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="message" class="col-form-label">Message</label>
                        <textarea th:field="*{message}" class="form-control" id="message" placeholder="Email" rows="3"></textarea>
                        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{message}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="time" class="col-form-label">Date To Send</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                   th:field="*{time}" id="time" placeholder="DateTime"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input id="add-sender" type="submit" class="btn btn-primary" value="Send Email">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>
<script>
    $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'far fa-calendar-check-o',
            clear: 'far fa-trash',
            close: 'far fa-times'
        } });

    $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY h:mm A'
    });
</script>
</body>
</html>